 body {
        padding-top: 43px;
        padding-bottom: 40px;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: block;

}

 .bar {
     -webkit-transition: width 30.0s ease !important;
     -moz-transition: width 30.0s ease !important;
     -o-transition: width 30.0s ease !important;
     transition: width 30.0s ease !important;
 }

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.dataHeader {
    background-color:#D5DF3E;
}

.dataHeader .form-inline > label {
    color: #000;
}

.dataHeader .form-inline {
    margin:  5px;
    horizontal-align: middle;
    vertical-align: middle;
}

.mainContainer {
    padding-top: 5px;
}

.mainContainer .nav .active > a {
  background-color: #0061af;
  background-image: -moz-linear-gradient(top, #0077d8, #003f72);
  background-image: -ms-linear-gradient(top, #0077d8, #003f72);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0077d8), to(#003f72));
  background-image: -webkit-linear-gradient(top, #0077d8, #003f72);
  background-image: -o-linear-gradient(top, #0077d8, #003f72);
  background-image: linear-gradient(top, #0077d8, #003f72);
  background-repeat: repeat-x;
    color: #FFFFFF;
}

 .mainContainer .nav > li > a {
          border-right: 1px solid #DDD;
      border-left: 1px solid #DDD;
      border-top: 1px solid #DDD;

 }

 .mainContainer .nav {
     margin-bottom: 0px;

 }
 /*.tab-content {
     border-right: 1px solid #DDD;
     border-left: 1px solid #DDD;
     border-bottom: 1px solid #DDD;

     background-color: #0061af;
     height: 600px;
     color: #FFFFFF;
 } */

 .legend {
        border-right: 1px solid #DDD;
     border-left: 1px solid #DDD;
     border-bottom: 1px solid #DDD;
     background-color: #FFFFFF;
     color: #000000;
 }

 .navbar .btn {
     margin-top: 7px;
 }
 .nav-collapse .navbar-search > button {
     margin-top: 0px;
 }

 .nav-collapse > form {
    padding-left: 20px;
 }

#networkGraphView {
  font: 10px sans-serif;
}

.bar rect {
  fill: #0061af;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}


.queryfiltertable {
     height: 300px;
 }

 thead {
     background-color:  #0061af;
      background-image: -moz-linear-gradient(top, #0077d8, #003f72);
  background-image: -ms-linear-gradient(top, #0077d8, #003f72);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0077d8), to(#003f72));
  background-image: -webkit-linear-gradient(top, #0077d8, #003f72);
  background-image: -o-linear-gradient(top, #0077d8, #003f72);
  background-image: linear-gradient(top, #0077d8, #003f72);
  background-repeat: repeat-x;
    color: #FFFFFF;
 }

 table.table {
     table-layout: fixed;
     margin-bottom: 6px !important;
        clear: both;
     word-wrap: break-word;
 }


table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('../images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }


  div.dataTables_length label {
    float: left;
    text-align: left;

}

 div.dataTables_length select {
      width: 100px;
 }

div.dataTables_filter label {
    float: right;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

 .modal {
     width: 750px;
     margin-left:-375px;
 }

 .modal-body {
     max-height: 350px;
 }



 /*network graph styles*/
.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}


path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

marker#ngd {
  fill: #D5DF3E;
}


.link.ngd {
  stroke: #1D3FE7;
}

.link.domine {
  stroke-dasharray: 0,3 1;
  stroke-width: 3px;
  stroke:#AC0035;
}

text {
  pointer-events: none;
}

text.hiveplot {
  font: 14px sans-serif;

}

text.shadow {
    stroke: white;
}

circle.node{
 stroke: gray;
     stroke-width: 2px;
}

line.axis {
  stroke: #A8A9AB;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #999;
  stroke-width: 1.5px;
  stroke-opacity: .3;
}

.link.active {
  stroke: red;
  stroke-width: 2px;
  stroke-opacity: 1;
}

.node circle.active {
  stroke: red;
  stroke-width: 3px;
}

.node circle.hidden {
    visibility: hidden;
}


.filtertabcontent {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid rgba(0, 0, 0, 0.2);
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

 .nocheckbox_table tbody tr:hover td,
 .nocheckbox_table tbody tr:hover th {
     background-color: orange;
 }